@import '../Styles/layout.scss';
@import '../Styles/theme.scss';

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  flex: 1 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}
