@import '../Styles/layout.scss';
@import '../Styles/theme.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $blue;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.66);
  z-index: 1;
}

.title {
  color: $yellow;
}
